---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../pages/styles/global.css';

const pageTitle = "About me";
const goal = 3;


---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
            <Header/>
            <div class="fondo3 max-w-screen-xl flex flex-col justify-center items-center mx-auto"> <style> .fondo3{height:80vh;} </style>
            <h1 class="text-5xl text-white my-5">Sobre mi</h1>
            <p class="text-white text-center">Crecí muy cerca de CDMX, rodeado de gente creativa que me inspiró a descubrir mi pasión por el diseño. Me encantó el desafío de crear experiencias y sensaciones únicas.</p>
            <p class="text-white text-center">A lo largo de los años, mis habilidades como diseñador  han seguido desarrollándose, ya que he estado en un viaje constante de aprendizaje y autocrecimiento con más de 6 años de experiencia, trabajando de forma remota con personas creativas de agencias y nuevas empresas  en diversos proyectos de diseño.</p>
            {goal === 3 ? <p class="text-white font-bold my-5">HTML,CSS,JavaScript,React,Astro.</p> : <p>My goal is not 3 days.</p>}
           </div>

            
          <Footer/>
	</body>
</html>
