---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = "Home page"
---

<BaseLayout pageTitle={pageTitle}>

		<style>
		.fondo {
		height:80vh;
		background-image: url("../images/image-backgorund.png");
		background-image: cover;
		background-position: center;

		}
		</style>
		<div class="max-w-screen-xl fondo flex flex-col justify-center items-center box-border mx-auto lg:px-72"> 
		<h1 class="text-5xl font-bold text-center text-white lg:text-7xl ">Webs que <span class="text-[#2AA0D9]">conectan</span> con tus clientes </h1>
		<p class="text-2xl text-center text-white mt-4 lg:px-36"> Yo soy Luis Montaño diseñador y desarrollador frontend</p>
	    </div>

</BaseLayout>
