---
---

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<div x-data="{open:false}" class="flex justify-end p-5">
<button class="lg:invisible lg:hidden">
    <svg @click="open = ! open" xmlns="http://www.w3.org/2000/svg" class="fill-white ml-auto" height="1em" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
        <div x-show="open" class="nav-links flex flex-col box-border absolute z-10 top-10 right-0 left-0 bg-[#0F1417] w-screen h-auto pb-5 shadow-xl"> 
            <a class="px-4 mt-4 text-left text-white hover:text-[#2AA0D9]" href="/">Home</a>
            <a class="px-4 mt-4 text-left text-white hover:text-[#2AA0D9]" href="/about/">About</a>
            <a class="px-4 mt-4 text-left text-white hover:text-[#2AA0D9]" href="/blog/">Blog</a>
        </div>
</button>   
</div>

<div class="nav-links items-center m-4 invisible hidden lg:flex lg:justify-center  lg:visible"> 
    <a class="mx-1 text-white hover:text-[#2AA0D9]" href="/">Home</a>
    <a class="mx-1 text-white hover:text-[#2AA0D9]" href="/about/">About</a>
    <a class="mx-1 text-white hover:text-[#2AA0D9]" href="/blog/">Blog</a>
</div>