---
const { platform, username } = Astro.props;
---

<a class='p-2 text-white border-white border rounded-md hover:bg-white hover:text-black m-2'  href={`https://www.${platform}.com/${username}`}>{platform}</a>


